[Unit]
After=network-pre.target systemd-resolved.service

[Service]
ExecStart=/usr/local/bin/ntfy_boot_complete.sh

[Install]
WantedBy=default.target
