# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set banner %}
This information system is for private and authorized use only. Unauthorized access or improper use
of this system may result in bad vibes being directed your way. Your use of this system may be
monitored for security reasons.

Your continued use of this system indicates your awareness of and consent to these terms and
conditions of use.

{% endset %}

{% set cron = {
  'dirs': [
    'cron.d',
    'cron.daily',
    'cron.hourly',
    'cron.monthly',
    'cron.weekly'
  ]
}%}

{% set session_timeout = '900' %}

{% set sshd = {
  'configs': [
    'AllowTcpForwarding no',
    'Banner /etc/issue.net',
    'Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc',
    'ClientAliveCountMax 3',
    'ClientAliveInterval 300',
    'HostbasedAuthentication no',
    'IgnoreRhosts yes',
    'LoginGraceTime 60',
    'LogLevel VERBOSE',
    'MACs hmac-sha2-512,hmac-sha2-256,hmac-sha1',
    'MaxAuthTries 4',
    'MaxSessions 10',
    'PasswordAuthentication yes',
    'PermitEmptyPasswords no',
    'PermitUserEnvironment no',
    'PubkeyAuthentication yes',
    'X11Forwarding no'
  ]
}%}

{% set sysctl = {
  'params': [
    'fs.suid_dumpable = 0',
    'kernel.randomize_va_space = 2',
    'net.ipv4.conf.all.accept_redirects = 0',
    'net.ipv4.conf.all.accept_source_route = 0',
    'net.ipv4.conf.all.log_martians = 1',
    'net.ipv4.conf.all.rp_filter = 1',
    'net.ipv4.conf.all.secure_redirects = 0',
    'net.ipv4.conf.all.send_redirects = 0',
    'net.ipv4.conf.default.accept_redirects = 0',
    'net.ipv4.conf.default.accept_source_route = 0',
    'net.ipv4.conf.default.log_martians = 1',
    'net.ipv4.conf.default.rp_filter = 1',
    'net.ipv4.conf.default.secure_redirects = 0',
    'net.ipv4.conf.default.send_redirects = 0',
    'net.ipv4.icmp_echo_ignore_broadcasts = 1',
    'net.ipv4.icmp_ignore_bogus_error_responses = 1',
    'net.ipv4.ip_forward = 0',
    'net.ipv4.tcp_syncookies = 1',
    'net.ipv6.conf.all.accept_ra = 0',
    'net.ipv6.conf.all.accept_redirects = 0',
    'net.ipv6.conf.all.accept_source_route = 0',
    'net.ipv6.conf.all.forwarding = 0',
    'net.ipv6.conf.default.accept_ra = 0',
    'net.ipv6.conf.default.accept_redirects = 0',
    'net.ipv6.conf.default.accept_source_route = 0'
  ]
}%}

{% set umask = {
  'value': '027',
  'files': [
    '/etc/bash.bashrc',
    '/etc/csh.cshrc'
  ] if grains['os_family'] == 'Debian' else [
    '/etc/bashrc'
  ]
}%}

{% set _ = umask['files'].append('/etc/profile') %}